* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

body {
    background-color: rgb(231, 188, 107);
    text-align: center;
}

.container {
    width: 600px;
    margin: 10px auto;
    border: 10px solid white;
    overflow: auto;
}

.big {
    width: 600px;
    height: 350px;
}

.child {
    width: 200px;
    height: 120px;
    float: left;
    border: 3px solid white;
    box-sizing: border-box;
}

.child:hover {
    opacity: 0.5;
    cursor: pointer;
}

/*  Animasi */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
