/* Import Font form Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');


body {
    background-image: url("cloudd.jpeg");
    background-size: cover;
}

.container {
    width: 1050px;
    padding: 0 15px;
    margin: 0 auto
}

a {
    text-decoration: none;
}

header {
    height: 60px;
    z-index: 10;
    color: black;
}

.navbar-nav {
    line-height: 30px;
    margin-left: 40px;
}

.nav-link {
    margin-right: 25px;
}

.nav-link:hover {
    border-bottom: 3px solid rgb(27, 114, 114);
    transform: scale(1.1, 1.1);
    transition: 0.3s;
    margin-right: 30px;
    margin-left: 10px;
}


.main {
    font-family: Cambria;
}

.heading-main {
    margin-top: 80px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 7px;
    margin-bottom: 80px;
}

.heading-main .kost {
    margin-left: 60px;
    margin-bottom: -40px;
    font-size: 70px;
}

.heading-main .p-kaji {
    margin-left: 290px;
}

.pesan-heading p{
    font-size: 20px;
    margin-top: 50px;
}

.card-kost {
    margin-top: 100px;
}

.card-kost h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    font-size: 45px;
}

.card {
    margin-bottom: 60px;
}
